*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(30, 23, 47, 1);
}
nav{
    width: 37%;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 600px;
}
li{
    list-style: none;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 162, 162);
    text-decoration: none;
}
nav a:hover{
    color: aliceblue;
}
#boton1{
    width: 120px;
    height: 48px;
    color: aliceblue;
    background: linear-gradient(to right, rgb(127, 68, 213, 1) 10%, rgb(48, 133, 218) 60%);
    border-radius: 6px;
    border: none;
    cursor: pointer; 
}
section{
    display: flex;
    width: 100%;
    /* height: 70vh; */
}
#izquierda{
    background-color: rgba(46, 37, 80, 1);
    width: 50%;
    /* height: 70vh; */
}
#tex{
    margin: 140px 300px 0px;
    width: 67%;
    height:500px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
h1{
    font-size: 98px;
}
#tex1{
    font-size: 19px;
}
#botones{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.469);
    border-radius: 6px;
    width: 60%;
}
.bu1{
    color: rgba(240, 40, 155, 1);
    width: 50%;
    height: 50px;
    font-size: 17px;
    margin: 5px 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.bu2{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.701);
    width: 40%;
    height: 50px;
    font-size: 18px;
    margin: 5px 0px 5px;
    cursor: pointer;
}
#botones  :hover{
    background-color: rgba(162, 162, 162, 0.484);
}
#derecha{
    width: 50%;
    background-image: url(../image/hojasFondo.jpg);
    background-size: cover;
}
.img2{
    width: 27%;
    height: 480px;
    margin: 100px 150px 0px;
}
#tex2{
    color: rgba(240, 40, 155, 1);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2%;
}
#caja{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0px 400px 50px;
}
.izqui2{
    width: 50%;
}
.img3{
    width: 95%; 
}

.dere2{
    width: 40%;
}
.alpha{
    font-size: 50px;
    color: rgba(198, 62, 132, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.te1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
.te2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(240, 40, 155, 1);
    margin: 15px 0px 15px;
}
.te2 img{
    width: 7%;
}
.te{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 15px 0px 10px;
}
.te img{
    width: 4%;
}
.tex{
    margin: 0px 10px 0px;
}
aside{
    background-color: rgba(30, 23, 47, 1);
}
#ch{
    width: 100%;
    text-align: center;
}
#asi{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2%;
    color: aliceblue;
}
#te2{
    text-align: center;
    margin: 0px 450px 50px;
    width: 50%;
    font-size: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.uno{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 0px 360px 0px;
}
.so{
    background-color: aliceblue;
    border-radius: 2%;
    margin: 0px 20px 44px;
    text-align: center;
    width: 27%;
}
h3{
    color: rgba(240, 40, 155, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
}
.cjaam{
    display: flex;
    padding: 2%;
    background-color: #e8e8e8d1;
    width: 100%;
    height: 70px;
}
.cero{
    font-size: 40px;
    margin-left:107px ;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: rgba(30, 23, 47, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px;
}
.estre{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    width: 66%;
    margin: 15px 37px 10px;
}
.estr1{
    color: #f31988;
}
.texh{
    font-size: 19px;
    width: 79%;
    margin: 50px 36px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.boto1{
    background: linear-gradient(to right, #eb5fa7 10%, #f31988 60%);
    border-radius: 6px;
    border: none;
    width: 67%;
    height: 56px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px 59px 0px;
}
.boto{
    background-color: rgba(30, 23, 47, 1);
    border-radius: 6px;
    border: none;
    width: 67%;
    height: 56px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px 59px 0px;
}
#fo{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin: 0px 100px 0px;
    padding: 1%;
    width: 79%;
    text-align: center;
    align-items: center;
}
#fop{
    width: 100%;
}
span{
    color: #f31988;
}
.ico{
    width: 4%;
}

@media (max-width: 1279px) {
    ul {
        width: 488px;
        margin: 0px -44px 10px;
    }
    #tex {
        margin: 113px 76px 0px;
    }
    #tex1  { 
        width: 106%;
    }
    #botones {
        width: 100%;
    }
    .img2 {
        width: 53%;
        margin: 77px 104px 0px;
    }
    #caja {
        margin: 0px 121px 50px;
        width: 74%;
    }
    .dere2 {
        width: 47%;
    }
    .img3 {
        width: 91%;
        margin-top: 56px;
    }
    .so {
        margin: 0px 0px 44px;
        width: 30%;
    }
    .uno {
        width: 100%;
        margin: 0px 0px 0px;
    }
    #te2 {
        margin: 0px 103px 50px;
        width: 77%;
    }
}
@media (max-width: 920px) {
    header {
        flex-direction: column;
    }
    ul {
        width: 494px;
        margin: 0px -93px 10px;
    }
    #tex {
        margin: 113px 78px 0px;
    }
    h1 {
        font-size: 77px;
    }
    .img2 {
        width: 59%;
        height: 432px;
        margin: 114px 67px 0px;
    }
    #boton1 {
        width: 95px;
        height: 40px;
    }
    #botones {
        width: 96%;
    }
    #caja {
        margin: 0px 46px 50px;
        width: 89%;
    }
    .izqui2 {
        width: 50%;
    }
    .img3 {
        width: 95%;
        margin-top: 225px;
    }
    .dere2 {
        width: 63%;
    }
    #te2 {
        margin: 0px 70px 50px;
        width: 82%;
    }
    .uno{
        width: 100%;
        flex-direction: column;
        margin: 0px 0px 0px;
        align-items: center;
    }
    .so {
        margin: 0px 0px 44px;
        width: 40%;
    }
    #fop {
        width: 244%;
    }
    .ico {
        width: 6%;
    }
}
@media (max-width: 768px) { 
    ul {
        margin: 0px -166px 10px;
    }
    section {
        flex-direction: column;
    }
    #izquierda {
        width: 100%;
        height: 46vh;
    }
    #tex {
        margin: 58px 10px 0px;
    }
    h1 {
        font-size: 80px;
    }
    #derecha{
        width: 100%;
    }
    #tex1 {
        width: 126%;
    }
    #botones {
        width: 140%;
        height: 47px;
    }
    .bu1{
        height: 37px;
        font-size: 14px;
    }
    .bu2{
        height: 36px;
    }
    .img2 {
        width: 46%;
        height: 389px;
        margin: 46px 91px 13px;
    }
    .img3 {
        margin-top: 98px;
    }
    #tex2{
        font-size: 50px;
    }
    .alpha {
        font-size: 30px;
    }
    .te1 {
        font-size: 15px;
    }
    #asi {
        font-size: 52px;
    }
    #te2 {
        margin: 0px 28px 50px;
        width: 88%;
        font-size: 17px;
    }
    .uno{
        width: 100%;
        flex-direction: column;
        margin: 0px 0px 0px;
        align-items: center;
    }
    .so {
        margin: 0px 0px 44px;
        width: 62%;
    }
    #fop {
        width: 244%;
    }
    .ico {
        width: 6%;
    }
    #fo{
        margin-left: 71px;
    }
}
@media (max-width: 480px) {
    ul {
        width: 315px;
        flex-wrap: wrap;
        margin: 0px 0px 8px -88px;
    }
    section {
        flex-direction: column;
    }
    #izquierda {
        width: 100%;
        height: 46vh;
    }
    #tex {
        margin: 54px 10px 0px;
    }
    #derecha {
        width: 100%;
        height: 54vh;
    }
    .img2 {
        width: 56%;
        height: 390px;
        margin: 17px 70px 0px;
    }
    #tex2 {
        font-size: 38px;
    }
    #caja {
        flex-direction: column;
        margin: 0px 3px 50px;
        width: 98%;
        text-align: center;
    }
    .alpha {
        font-size: 25px;
        margin: 0px 27px 0px;
        width: 272px;
    }
    .te1 {
        font-size: 14px;
        width: 108%;
        margin: 0px 18px 0px;
    }
    .img3 {
        margin: 13px 60px 22px;
        width: 215px;
    }
    .dere2 {
        width: 284px;
    }
    .te2 {
        margin: 11px 68px 0px;
        width: 72%;
    }
    .te{
        margin: 7px 42px 0px;
    }
    .te img {
        width: 9%;
    }
    #asi {
        font-size: 40px;
    }
    #te2 {
        width: 82%;
        font-size: 18px;
    }
    .uno{
        width: 100%;
        flex-direction: column;
        margin: 0px 0px 0px;
        align-items: center;
    }
    .so {
        margin: 0px 0px 18px;
        width: 78%;
    }
    #fo {
        margin-left: 48px;
    }
    .ico {
        width: 13%;
    }
}

